<div class="container">
    <h1>List of Agencies</h1>
    <button class="btn btn-primary" (click)="openCreateAgencyModal()">Create Agency</button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Code</th>
                <th>Description</th>
                <th>Address</th>
                <th>Identification</th>
                <th>Creation Date</th>
                <th>Currency</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let agency of agencies">
                <td>{{ agency.id }}</td>
                <td>{{ agency.code }}</td>
                <td>{{ agency.description }}</td>
                <td>{{ agency.address }}</td>
                <td>{{ agency.identification }}</td>
                <td>{{ agency.creationDate | date: 'yyyy-MM-dd' }}</td>
                <td>{{ agency.currency }}</td>
                <td>
                    <a routerLink="/agencies/edit/{{ agency.id }}" class="btn btn-primary btn-sm">Edit</a>
                    <button (click)="deleteAgency(agency.id)" class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>